# This is Git's per-user configuration file.
[user]
	name = Nikhil Sahukar
	email = email-id@gmail.com
[core]
	excludesfile = $HOME/.gitignore
	editor = /usr/local/bin/nvim
	pager = cat
[merge]
	tool = kdiff3
[pager]
	branch = false
